<div class="columns is-centered">
  <div class="column is-two-thirds">
    <% @posts.each do |post| %>
      <div class="box">
        <h4 class="has-text-left is-size-3"><%= post.title %></h3>
        <p class="has-text-justified is-size-5"><%= post.post %></p>
        <% if user_signed_in? %>
          <p class="has-text-right has-text-weight-bold is-italic mr-3"><%= post.user.name %></p>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div class="column is-one-third">
      <article class="media box">
        <figure class="media left">
          <p class="image is-64x64">
            <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name) %>
          </p>
        </figure>
        <div class="media-content">
          <%= render 'posts/form-in-feed' %>
        </div>
      </article>
    </div>
  <% end %>
</div>



